
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #222222;
    --muted: #403E43;
    --message-bg: #F3F3F3;
    --bubble-sent: #F3F3F3;
    --border: #E5E5E5;
  }

  :root[class~="dark"] {
    --background: #141413;
    --foreground: #FAFAF8;
    --muted: #828179;
    --message-bg: #2D3135;
    --bubble-sent: #2D3135;
    --border: #ffffff14;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-opacity-20 backdrop-blur-sm border border-[var(--border)];
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Markdown Styles */
.prose {
  @apply text-[var(--foreground)];
}

.prose code {
  @apply px-1 py-0.5 rounded bg-opacity-20 bg-[var(--border)];
}

.prose pre {
  @apply p-2 rounded bg-opacity-20 bg-[var(--border)] overflow-x-auto;
}

.prose pre code {
  @apply bg-transparent p-0;
}

.prose ul {
  @apply list-disc list-inside;
}

.prose ol {
  @apply list-decimal list-inside;
}

.prose p {
  @apply mb-2 last:mb-0;
}

.prose blockquote {
  @apply border-l-2 border-[var(--border)] pl-2;
}

.prose hr {
  @apply border-[var(--border)];
}

.prose strong {
  @apply font-semibold;
}

.prose em {
  @apply italic;
}

