
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #141413;
    --muted: #666666;
    --bubble-received: #E5E7EB;
    --bubble-sent: #61AAF2;
    --border: #00000014;
  }

  :root[class~="dark"] {
    --background: #141413;
    --foreground: #FAFAF8;
    --muted: #828179;
    --bubble-received: #4B5563;
    --bubble-sent: #61AAF2;
    --border: #ffffff14;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased;
  }
}

@layer utilities {
  .glass {
    @apply bg-opacity-20 backdrop-blur-sm border border-[var(--border)];
  }
}

.message-bubble {
  @apply rounded-2xl px-4 py-2 max-w-[80%] break-words;
}

.message-bubble.sent {
  @apply bg-[var(--bubble-sent)] text-white ml-auto;
}

.message-bubble.received {
  @apply bg-[var(--bubble-received)] text-[var(--foreground)];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
